body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
}

.slides input {
    display: none;
}

.img-slide {
    width: 20%;
    float: left;
}

.img-slide img {
    width: 100%;
}

/* Adicione a propriedade cursor: pointer; aos botões de navegação */
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}
