body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider{
    margin:  0 auto;
    width: 900px;
    height: 500px;
    overflow: hidden;   
}

.slides{
    width: 400px;
    height: 400px;
    display: flex;
    
}