body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%; /* 3 slides (cada um com 100% de largura) */
}

.img-slide {
    width: 33.33%; /* Cada slide ocupa 33.33% da largura total */
}

.img-slide img {
    width: 100%; /* A imagem ocupa 100% da largura do slide */
}
