body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Defina uma altura mínima para ocupar a tela inteira */
}

.slider {
    width: 100%; /* Usar 100% da largura da tela */
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%; /* 5 slides (cada um com 100% de largura) */
}

.slides input {
    display: none;
}

.img-slide {
    width: 20%; /* Cada slide ocupa 20% da largura total */
    float: left; /* Alinhar slides horizontalmente */
}

.img-slide img {
    width: 100%; /* A imagem ocupa 100% da largura do slide */
}

/* Restante do seu CSS permanece inalterado */
